eager_inputs/
eager_outputs/
.eva_credentials
*results.txt
.next*
.RData
.Rhistory
.Rproj.user
.nfs*
dev/
test_data/
*.*.results.txt
*Autorun_eager_queue.txt
.tmp/
eager_inputs_old/
eager_outputs_old/
array_Logs/
poseidon_packages/
debug_tables/
*.txt
stats/
AE_R_deps_singularity.sif
