// Profile to change parameters if needed
profiles {
  autorun {
    // No cleanup for resume possibility
    cleanup = false
    
    params{
      // BAM filtering
      run_bam_filtering = true            // Filter out unmapped reads, so barplots in MultiQC are not completely overtaken by unmapped reads.
      bam_mapping_qualty_threshold = 25    // Keep reads with MapQ 25 and up
      bam_unmapped_type = 'bam'         // Keep unmapped reads as a separate BAM file for possible future pathogen screening.
      
      // mtDNA to nuclear ratio
      run_mtnucratio = true
      mtnucratio_header = "MT"
      
      // Bam Trimming
      // By default, half-udg are clipped 2bp on either side, while non-UDG are untrimmed to accomodate ssDNA libraries (pileupcaller deals with those)
      run_trim_bam = true
      bamutils_clip_half_udg_left = 2    // Trim 2 bp of either side for half-UDG libraries.
      bamutils_clip_half_udg_right = 2    // Trim 2 bp of either side for half-UDG libraries.
      bamutils_clip_none_udg_left = 0    // Set to 0 so ssDNA non-UDG do not get trimmed.  10/12/2020
      bamutils_clip_none_udg_right = 0    // Set to 0 so ssDNA non-UDG do not get trimmed. 10/12/2020
      
      // Genotyping
      genotyping_source = 'trimmed'         // Use trimmed bams for genotyping
      run_genotyping = true
      genotyping_tool = 'pileupcaller'
      pileupcaller_bedfile = '/projects1/Reference_Genomes/Human/hs37d5/SNPCapBEDs/1240K.pos.list_hs37d5.0based.bed'
      pileupcaller_snpfile = '/projects1/public_data/Datashare_Boston_Jena_June2018.backup/1240K.snp'

      //Sex determination
      run_sexdeterrmine = true
      sexdeterrmine_bedfile = '/projects1/Reference_Genomes/Human/hs37d5/SNPCapBEDs/1240K.pos.list_hs37d5.0based.bed'

      // Nuclear contamination
      run_nuclear_contamination = true
      contamination_chrom_name = 'X'
    }
  }
}